.footer {
  padding: 43px 0px 30px;
  border-top: 1px solid #b6b8ce;
  display: flex;
  flex-direction: column;
}

.footer_top {
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
    gap: 60px;

    div {
      h3 {
        @include font(16, 20, 500, normal, #5e6076);
      }

      ul {
        padding: 15px 0;

        li {
          @include font(12, 15, 500, normal, #5e6076);
          margin-bottom: 10px;
        }
      }
    }

    &-links {
      @include font(16, 20, 500, normal, #5e6076);
      height: 160px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__media {
    flex-grow: 1;
    text-align: center;

    li {
      @include font(12, 15, 500, normal, #5e6076);
      margin-bottom: 15px;
    }
  }

  &__form {
    max-width: 370px;

    .form_header {
      @include font(16, 20, 500, normal, #abadc5);
    }

    .form_subscribe {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      padding: 17px 0 10px;

      input {
        flex-grow: 1;
        border-radius: 12px;
        border: 1px solid #abadc5;
        padding-left: 12px;
        color: #766e5e;
      }

      input:focus {
        border: 1px solid #5e6076;
      }

      input::placeholder {
        @include font(14, 17, 600, normal, #abadc5);
      }

      button {
        @include font(14, 17, 600, normal, #fff);
        padding: 16px 10px;
        background-color: #da552f;
        border-radius: 12px;
      }
    }

    .form_describ {
      @include font(12, 15, 500, normal, #abadc5);
    }
  }
}

.footer_bottom__list {
  display: flex;
  justify-content: space-between;
  padding-top: 43px;
  @include font(12, 15, 500, normal, #abadc5);
}
