.range_list {
  input {
    width: 100%;
    height: 2px;
    outline: none;
    cursor: pointer;
  }

  .rangeMinPrice,
  .rangeMaxPrice {
    position: absolute;
    top: 30px;
    -webkit-appearance: none;
    background: #777990;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    background: #777990;
  }

  .rangeMinPrice::-webkit-slider-thumb,
  .rangeMaxPrice::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    margin: -12px 0;
    border-radius: 50%;
    background: #777990;
    // background: url("../../cdn/Group10.svg");
  }

  .rangeMinPrice::-moz-range-thumb,
  .rangeMaxPrice::-moz-range-thumb,
  .rangeMinPrice::-ms-thumb,
  .rangeMaxPrice::-ms-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #777990;
    // background: url("../../cdn/Group10.svg");
  }

  input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
  }
  input[type="range"]::-moz-range-thumb {
    pointer-events: all;
  }
  input[type="range"]::-ms-thumb {
    pointer-events: all;
  }

  input[type="range"]:hover {
    opacity: 0.9;
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
}
